*, *::before, *::after {
  box-sizing:auto;
}

body {
  margin: 0;
  padding: 10px;
}

.slider {
  width: 100%;
  cursor: pointer;
}

.container {
  margin: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    "image sidebar"
    "slider sidebar";
  height: 100vh;
  width: 100p;
  background-color: #639bc0;
}
.sidebar {
  grid-area: sidebar;
  background-color: #639bc0;
  border-right: 1px solid #639bc0;
  border-left: 1px solid #639bc0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  grid-area: image;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1601054704854-1a2e79dda4d3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjd8fHNtYXJ0JTIwYm95fGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  border-left: 1px rgb(153, 28, 28);
  width: 100%;
  height: 100%;
  border: yellow solid hsl(black, saturation, lightness);
}



.sidebar-item {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: hsl(265, 100%, 86%);
  padding: 1rem;
  position: relative;
  transition: background-color 150ms;
}

.sidebar-item:hover, .sidebar-item:focus {
  background-color: hsl(265, 100%, 76%);
}

.sidebar-item.active {
  background-color: hsl(265, 100%, 70%);
}

.sidebar-item::after {
  content: '';
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  height: 1px;
  background-color: hsla(295, 100%, 46%, 0.541);
}

.sidebar-item:last-child::after {
  display: none;
}

.slider-container {
  grid-area: slider;
  margin-top: 2rem;
  padding: 2rem;
  background-color: yellow;
  text-align: flex;
}

